<div class="container">
  <div class="container">
    <table class="table">
      <td>
        <li>
          <%= comment.body %>
          <% if can? :update, comment %>
            <small><%= link_to 'Edit', edit_art_comment_path(comment.art, comment) %></small>
          <% end %>
          <% if can? :destroy, comment %>
            <small><%= link_to 'Delete', art_comment_path(comment.art, comment), method: :delete, data: { confirm: "Are you sure? " } %></small>
          <% end %>
        </li>
      </td>
    </table>
  </div>
</div>
