<div class="container">
  
  <%= comment.body %>
  <%= link_to 'Edit', edit_art_comment_path(comment.art, comment) %>
  <%= link_to 'Delete', art_comment_path(comment.art, comment), method: :delete, data: { confirm: "Are you sure? " } %>
</div>