
<div class="container">
  <h5>Review Art from different Artists</h5>
    <% @arts.each do |art| %>
      <%= art.title %>
      <%= link_to 'Edit', edit_art_path(art) %>
      <%= link_to 'Show', art_path(art) %>
      <%= link_to 'Delete', art_path(art), method: :delete, data: { confirm: 'Are you sure? '} %>
    <% end %>
</div>